.sidebarContainer{
    background-color: #efebf9;
    height: 100%;
}
.sidebarContainer button{
    background-color: #9292EE;
    margin-top: 30px;
    margin-bottom: 10px;
}
.sidebarContainer button label{
    color: white;
    font-family: Lato;
}
.sidebarContainer ul{
    color: #c692b9;
}
.sidebarContainer li{
    list-style: none;
    margin: 20px auto;
    font-family: Lato;
    font-weight: 700;
}