<div class="eventsContainer">
    <h1 class="col-md-12">Eventi</h1>
    <div class="events col-md-12">
        <div class="event col-md-12" *ngFor="let item of events | values">
            <div class="col-md-12" *ngIf="item" style="padding: 0">
                <app-event
                    class="col-md-12"
                    [event]="item"
                    style="padding: 10px; margin: 5px 0; border-radius: 3px"
                    category={{item.categoria}}>
                </app-event>
            </div>
        </div>
    </div>
</div>