*{
    font-family: lato;
    font-weight: regular;
    color: #114E54;
}

h1{
    font-family: Rosario;
    text-align: center;
    font-weight: bold;
    color: #B393DA;
    font-size: 30px;
}

hr{
    border: 0.5px solid #114E54;
    width: 369.6px;
    height: 0.5px;
}

#profileContainer{
    background-color: #ffffff;
    height: 100%;
    text-align: center;
}

#main{
    overflow-y: scroll;
    padding: 2%;
    height: 63vh;
}

h3{
    display: inline-block;
}

img {
    width: 318px;
    height: 205px;
    border-radius: 70px;
    margin-bottom: 2%;
}

.btn-warning{
    color: #ffffff;
    width: 270.42px;
    height: 26.83px;
    font-size: 17px;
    padding: 0 0 1% 0;
}

.btn-success{
    color: #ffffff;
    width: 152px;
    height: 58.69px;
    font-size: 20px;
}

.info{
    width: 50vh;
    margin: 0;
    padding: 0 12vh 0 12vh;
    display: inline-block;
    text-align: left;
}

#main > div:last-child{
    padding-right: 16vh;
    text-align: right;
}