<div id="profileContainer">
    <h1>PROFILO</h1>
    <hr>
    <section id="main">
        <div>
            <img src="{{user.fotoProfilo}}" alt="Profilo">
            <p>
                <button type="button" class="btn btn-warning">Modifica</button>
            </p>
        </div>
        <div>
            <div class="info">
                <h3>Nome</h3>
                <p>{{user.name}}</p>
            </div>
            <div class="info">
                <h3>Facoltà</h3>
                <p>
                    <input type="text" [(ngModel)]="user.facolta">
                </p>
            </div>
            <div class="info">
                <h3>Cognome</h3>
                <p>{{user.surname}}</p>
            </div>
            <div class="info">
                <h3>Data di Nascita</h3>
                <p>{{user.dataNascita}}</p>
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-success" (click)="save()">Salva</button>
        </div>
    </section>
</div>