#homeContainter{
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    padding-top: 22%;
    color: #9A84AE;
    font-size: 20px;
    font-family: lato;
    font-weight: bolder;
}
p{
    padding-top: 2%;
}