#homeContainter{
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    padding-top: 22%;
    color: #B393DA;
    font-size: 25px;
    font-family: lato;
    font-weight: Medium;
}
p{
    padding-top: 2%;
}