<div id="faqContainer">
  <h1>FAQ</h1>
  <hr>
  <section id="main">
    <div>
      <p class="title">Cosa significano i colori degli eventi?</p>
      <p class="description">Con questa leggendina vi chiariremo il significato dei colori degli eventi, che sono stati messi per semplificare la
        visuale dell'utente.
        <br>
        <span>Aperitivo</span>
        <span>Convention</span>
        <span>Formazione</span>
        <span>Dibattiti</span>
      </p>
    </div>
    <div>
      <p class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
      <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
    </div>
    <div>
      <p class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
      <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
    </div>
    <div>
      <p class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
      <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
    </div>
  </section>
</div>