*{
    font-family: lato;
    font-weight: regular;
    color: #114E54;
}

h1{
    font-family: Rosario;
    text-align: center;
    font-weight: bold;
    color: #B393DA;
    font-size: 30px;
}

.title{
    color: #114E54;
    font-size: 20px;
}

.description{
    color: #95989A;
    font-size: 16px;
}

hr{
    border: 0.5px solid #114E54;
    width: 369.6px;
    height: 0.5px;
}

#faqContainer{
    background-color: #ffffff;
    height: 100%;
}

#main{
    overflow-y: hidden;
    padding: 2%;
    height: 85%;
}

#main > div{
    overflow: hidden;
    margin: 2% 2% 3% 2%;
    padding: 1% 2% 2% 2%;
    background-color: #e9dee7;
    border-radius: 4px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}

.title{
    font-size: 24px;
    height: 10%;
}

.description{
    font-size: small;
}

div > .description span:nth-child(1){
    color:pink;
}

div > .description span:nth-child(2){
    color:purple;
}

div > .description span:nth-child(3){
    color:rgb(0, 1, 85);
}

div > .description span:nth-child(4){
    color:rgb(230, 192, 255);
}