<div class="eventDetailsContainer">

    <ng-container class="viewEvent" *ngIf="activeEvent.owner && activeEvent.owner !== userService.loggedUser.id">
        <h1>Dettagli evento</h1>
        <hr>
        <section id="main_proponi">
            <div class="row">
                <h2>{{activeEvent.titolo}}</h2>
            </div>
            <div class="row text-center">
                <div class="col-xs-4 col-sm-4">
                    <img id="photoprofile" class="center-block" src={{owner.fotoProfilo}}>
                </div>
                <div class="col-xs-4 col-sm-4 text-center" id="signature">
                    <span>{{owner.name}} {{owner.surname}}</span>
                </div>
                <div class="col-xs-4 col-sm-4">
                    <img src="assets\img\martini2.png" alt="Party">
                </div>
            </div>
            <div class="row text-center" id="grid">
                <div>
                    <i class="glyphicon glyphicon-map-marker"></i>
                    <br>
                    <span class="info">{{activeEvent.luogo}}</span>
                </div>
                <div>
                    <i class="glyphicon glyphicon glyphicon-calendar"></i>
                    <br>
                    <span class="info">{{activeEvent.data}}</span>
                    <span class="info">{{activeEvent.start}} - {{activeEvent.end}}</span>
                </div>
                <div>
                    <i class="glyphicon glyphicon glyphicon-tag"></i>
                    <br>
                    <span class="info">{{activeEvent.categoria | categories}}</span>
                </div>
            </div>
            <div class="row">
                <p>{{activeEvent.descrizione}}</p>
            </div>
            <div class="row">
                <button type="button" class="btn btn-default" (click)="router.navigateByUrl('/home')">
                    Indietro
                </button>
                <button type="button" id="update" class="btn btn-default pull-right" (click)="partecipate()" *ngIf="!isUserGoingToPartecipate">
                    Partecipa
                </button>
                <button type="button" id="delete" class="btn btn-warning pull-right" (click)="noPartecipate()" *ngIf="isUserGoingToPartecipate">
                    Annulla
                </button>
            </div>
        </section>
    </ng-container>


    <ng-container class="modEvent" *ngIf="!activeEvent.owner || activeEvent.owner === userService.loggedUser.id">
        <h1 *ngIf="activeEvent.owner === userService.loggedUser.id">Modifica evento</h1>
        <h1 *ngIf="!activeEvent.owner">PROPONI EVENTO</h1>
        <hr>
        <section id="main_proponi">
            <div class="row">
                <input required #titolo2="ngModel" [(ngModel)]="activeEvent.titolo" class="form center-block celle" type="text" id="titolo"
                    name="titolo" placeholder="Nome Evento">
                <div [hidden]="titolo2.valid || titolo2.pristine" class="alert alert-danger">
                    Il Nome Evento è obbligatorio!
                </div>
            </div>
            <div class="row text-center">
                <div class="col-xs-4 col-sm-4">
                    <img id="photoprofile" class="center-block" src={{loggedUser.fotoProfilo}}>
                </div>
                <div class="col-xs-4 col-sm-4 text-center" id="signature">
                    <span>{{loggedUser.name}} {{loggedUser.surname}}</span>
                </div>
                <div class="col-xs-4 col-sm-4">
                    <img src="assets\img\martini.png" alt="Party">
                    <p>
                        <button type="button" class="btn btn-warning">Carica Immagine</button>
                    </p>
                </div>
            </div>
            <div class="row text-center" id="grid">
                <div class="">
                    <i class="glyphicon glyphicon-map-marker"></i>
                    <br>
                    <input required #where="ngModel" [(ngModel)]="activeEvent.luogo" class="form celle" type="where" id="where" name="where"
                        placeholder="Indirizzo Evento">
                    <div [hidden]="where.valid || where.pristine" class="alert alert-danger">
                        Il luogo è obbligatorio!
                    </div>
                </div>

                <div class="">
                    <i class="glyphicon glyphicon glyphicon-calendar"></i>
                    <br>
                    <input required #date2="ngModel" [(ngModel)]="activeEvent.data" class="form celle" type="date" id="date" name="date">
                    <div [hidden]="date2.valid || date2.pristine" class="alert alert-danger">
                        La Data è obbligatoria!
                    </div>
                </div>

                <div class="">
                    <span>Start</span>
                    <br>
                    <input required #start2="ngModel" [(ngModel)]="activeEvent.start" class="form celle" type="time" id="start" name="start">
                    <div [hidden]="start2.valid || start2.pristine" class="alert alert-danger">
                        La data di inizio è obbligatoria!
                    </div>
                </div>

                <div class="">
                    <span>End</span>
                    <br>
                    <input required #end2="ngModel" [(ngModel)]="activeEvent.end" class="form celle" type="time" id="end" name="end">
                    <div [hidden]="end2.valid || end2.pristine" class="alert alert-danger">
                        La data di fine è obbligatoria!
                    </div>
                </div>

                <div class="">
                    <i class="glyphicon glyphicon glyphicon-tag"></i>
                    <br>
                    <select required #category2="ngModel" [(ngModel)]="activeEvent.categoria" class="form celle" name="category" id="category">
                        <option value=2>Aperitivi</option>
                        <option value=3>Convention</option>
                        <option value=4>Formazione</option>
                        <option value=5>Dibattiti</option>
                    </select>
                    <div [hidden]="category2.valid || category2.pristine" class="alert alert-danger">
                        La Categoria è obbligatoria!
                    </div>
                </div>
            </div>
            <div class="row">
                <textarea class="center-block" [(ngModel)]="activeEvent.descrizione" class="form celle center-block" type="text" id="descrizione"
                    name="descrizione" placeholder="Descrizione dell'evento... ">
                    </textarea>
            </div>

            <div class="row">
                <ng-container *ngIf="activeEvent.owner === userService.loggedUser.id">
                    <button type="button" class="btn btn-default" (click)="router.navigateByUrl('/home')">
                        Indietro
                    </button>

                    <button type="button" class="btn btn-danger" (click)="delete()">
                        Elimina evento
                    </button>
                </ng-container>

                <button type="button" class="btn btn-danger" (click)="annulla()" *ngIf="!activeEvent.owner">
                    Cancella
                </button>

                <button type="button" id="update" class="btn btn-default pull-right" (click)="save()">
                    <ng-container *ngIf="activeEvent.owner === userService.loggedUser.id">
                        Aggiorna</ng-container>
                    <ng-container *ngIf="!activeEvent.owner">
                        Crea</ng-container>
                </button>
            </div>
        </section>

    </ng-container>

</div>