/* You can add global styles to this file, and also import other style files */

*{
    font-family: 'Lato', sans-serif;
}
li.aperitivi{
    color: #fd99af;
}
li.convention{
    color: #b393da;
}
li.formazione{
    color: #9692eb;
}
li.dibattiti{
    color: #ff9b92;
}