body{
    margin: 0;
}
header{
    height: 240px;
    background-color: #114E54;
    text-align: center;
    position: relative;
    top: 0;
}
div[title="me"]{
    position: absolute;
    top: 0;
    left: 0;
}
div[title="me"] img{
    width: 150px;
    height: 150px;
    margin: 20px 0 10px 20px;
}
a[title="logout"]{
    color: #0381D5;
    text-decoration: underline;
    font-size: 20px;
    position: absolute;
    top: 180px;
    left: 70px;
}
img[title="logo movimento"]{
    position: absolute;
    top: 0;
    right: 0;
    height: 150px;
    margin: 45px 20px 10px 0;
}
h1{
    font-family: 'Muli', sans-serif;
    font-size: 111px;
    color: #E2E1DF;
    margin-bottom: 50px;
    text-shadow: -1px 10px 13px #000000;
}
header nav a{
    font-family: Miso;
    font-size: 35px;
    color: #E2E1DF;
    text-decoration: none;
    margin: auto 10px 0 10px;
}