@font-face {
    font-family:"Miso";
    src:url("miso.eot?") format("eot"),url("miso.woff") format("woff"),url("miso.ttf") format("truetype"),url("miso.svg#Miso") format("svg");
    font-weight:normal;
    font-style:normal;
}
*{
    box-sizing: border-box;
}
body{
    text-align: center;
    font-family: Miso;
    margin: 0;
    color: #E2E1DF;
}
main{
    padding: 0 160px;
    max-width: 1600px;
    margin: auto;
}
body[title="index"]{
    background-color: #114E54;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
[class*="col-"]{
    float: left;
    padding: 12px;
}
[class*="col-"] > *{
    width: 100%;
}
[class="col-4 logo"] img[title="logo"]{
    margin-top: 350px;
    animation: up;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-delay: 0.5s;
}
@keyframes up{
    0% {margin-top: 350px;}
    100% {margin-top: 150px;}
}
form[title="login"]{
    margin-top: -200px;
    opacity: 0;
    animation: down;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-delay: 0.5s;
    display: hidden;
}
@keyframes down{
    0% {margin-top: -200px; opacity: 0; display: hidden;}
    50% {margin-top: 100px; opacity: 0; display: visible;}
    100% {margin-top: 100px; opacity: 1; display: visible;}
}
input{
    border-style: solid;
    border-width: 1px;
    border-color: #95989A;
    background-color: #FFFFFF;
}
input[title="username"], input[title="password"]{
    display: block;
    height: 30px;
    border-radius: 15px;
    font-family: Miso;
    font-size: 15px;
    color: #114E54;
    padding-left: 15px;
}
p[class="col-4 check"]{
    color: #E64448;
    font-size: 18px;
    font-weight: 900;
    text-align: left;
    margin: 5px 0 0 0;
}
input[title="username"]::-webkit-input-placeholder, input[title="password"]::-webkit-input-placeholder{
    font-family: Miso;
    font-size: 15px;
    color: #114E54;
}
form[title="login"] input[title="submit"]{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    font-family: Miso;
    font-size: 30px;
    color: #114E54;
    margin-top: 10px;
}

/* remember */

    input[type="checkbox"]{
        width: 24px;
        height: 24px;
        border-radius: 12px;
        border-color: #6DDFE2;
    }
    .remember {
        width: 24px;
        height: 24px;
        position: relative;
        background-color: #6DDFE2;
        border-radius: 14px;
        float: left;
        margin-right: 5px;
        margin-top: -5px;
    }
    .remember label {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 2px;
        left: 2px;
        cursor: pointer;
        border-radius: 10px;
        background-color: #114E54;
    }
    .remember label:after {
        content: '';
        width: 9px;
        height: 5px;
        position: absolute;
        top: 5px;
        left: 4px;
        border: 3px solid #6DDFE2;
        border-top: none;
        border-right: none;
        background: transparent;
        opacity: 0;
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
    }
    .remember label:hover::after {
        opacity: 0.3;
    }
    .remember input[type=checkbox] {
        visibility: hidden;
    }
    .remember input[type=checkbox]:checked + label:after {
        opacity: 1;
    }
    [class="col-2 fix"]{
        text-align: left;
    }
    label[title*="scordar"]{
        color: #6DDFE2;
        font-size: 15px;
        margin: 0;
    }

  /* remember */

[class="col-2 forgot"]{
    text-align: right;
}
a[title="forgot"]{
    color: #0381D5;
    text-decoration: underline;
    font-size: 15px;
    cursor: help;
}
[class*="yellow"]{
    color: #FAE664;
}
[class*="red"]{
    color: #E64448;
}

/* HEADER */

    header{
        background-color: #114E54;
        padding: 0 160px;
    }
    div[title="me"]{
        position: absolute;
        top: 10px;
        left: 10px;
        text-align: center;
        width: 100px;
    }
    div[title="me"] img{
        width: 100px;
        height: 100px;
        border-color: white;
        border-style: solid;
        border-radius: 50%;
        border-width: 2px;
        margin-bottom: 10px;
    }
    a[title="logout"]{
        color: #0381D5;
        text-decoration: underline;
        font-size: 12px;
        margin: auto;
    }
    div[title="movement"]{
        position: absolute;
        top: 10px;
        right: 10px;
    }
    img[title="logo movimento"]{
        height: 100px;
        margin-bottom: 10px;
        display: block;
    }
    div[title="movement"] span{
        font-size: 15px;
        color: #C78A2E;
    }
    header h1{
        font-family: 'Muli', sans-serif;
        font-size: 72px;
        text-shadow: -1px 5px 13px #000000;
        margin: 0;
    }
    header [class*="h1"] a{
        text-decoration: none;
    }
    header nav a{
        font-family: Muli;
        font-size: 20px;
        color: white;
        text-decoration: none;
        margin: auto;
        font-weight: 900;
    }

/* STOP HEADER */

/* HOME MAIN */

[class*="col-6 events"], [class*="col-6 details"]{
    font-size: 30px;
    color: #114E54;
}
[class*="col-6 home"]{
    height: 58vh;
    overflow-y: hidden;
}
[class*="col-6 home"]:first-of-type{
    border-width: 0 2px 0 0;
    border-style: solid;
    border-color: #114E54;
    overflow-y: scroll;
}


[class*="col-6 home"]:first-of-type::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

[class*="col-6 home"]:first-of-type::-webkit-scrollbar
{
    width: 10px;
	background-color: #F5F5F5;
}

[class*="col-6 home"]:first-of-type::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: gray;
}

[class="col-6 home"]:first-of-type div.row hr, [class="col-6 home"]:first-of-type div.row div[class*="date"] span{
    color: #95989A;
}
[class*="col-6 home"] div[class="event"]{
    height: 18.3%;
    border-radius: 10px;
    background-color: rgba(239, 99, 72, .75);
    overflow: hidden;
    color: #114E54;
}
div[class="event"] img[title="event image"]{
    width: 100%;
    height: 40%;
    object-fit: cover;
}
div[class="event"] p{
    height: 20%;
    margin: 0 0 0 3px;
    font-size: 15px;
    text-align: left;
}
div[class="event"] div{
    height: 40%;
    margin: 0;
}
div[class="event"] span{
    text-align: left;
    font-size: 12px;
    float: left;
    margin: 0 0 0 3px;
}
div[class="event"] img[title="event organizer"]{
    width: auto;
    height: 100%;
    width: auto;
    border-radius: 50%;
    float: right;
    margin: 0;
}
section[class*="col-6 home"]:last-of-type div[class*="col-8 hr"] hr{
    border: 1px solid #114E54;
}

/* STOP HOME MAIN */

/* MAIN PROFILE */

/*Main Profile first part*/

.main_profile{
    
        margin-top: 20px;
    
    }
    
    /*General Input*/
    
    .main_profile .row div input{
    
        width: 218px;
        height: 24px;
        padding-left: 10px;
        border-radius: 20px;
        font-family: Miso;
        font-size: 15px;
        color: #95989A;
    
    }
    
    /*Submit Button*/
    .main_profile .row div input[type="submit"]{
    
        display: block;
        width: 218.37px;
        height: 24px;
        background-color: #114E54;
        color: #e1e2df;
    
    }
    
    button {
    
        margin-top: 34px;
        margin-bottom: 6px;
        background-color: transparent;
        border: 0;
    
    }
    
    input[value="Salva modifiche"]{
    
        margin-top: 90px;
        
    }
    
    .main_profile .row p{
    
        font-family: "Miso";
        font-size: 15px;
        font-weight: "Regular";
        text-align: left;
        color: #114E54;
    
    }
    
    /* hr */
    
    hr{
    
        overflow: hidden;
        height: 3px;
        background-color: #114E54;
    
    }
    
    /*Main Profile second part*/
    
    .eventsgrid{
        
        overflow-y: scroll;
        margin: 10px;
        height: 330px;
        widows: 100px;
        
    }
    
    .eventsgrid .col-3 img{
    
        margin-bottom: 24px;
        width: 222px;
        height: 144px;
        border-radius: 20px;
        box-shadow: 1px 0px 0.5px 0.5px #000000; 
    
    }
    
    .main_profile .row div h3{
        
        display: inline;
        font-family: Miso;
        font-size: 19px;
        font-weight: ExtraBold;
        text-align: center;
        color: #114E54;
    
    }
    
    /* STOP MAIN PROFILE*/