<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4 logo">
            <img id="logo" src="assets/img/unimove.png" name="logo" alt="logo unimove">
        </div>
    </div>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" name="login" novalidate>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4 username">
                <input class="form-control" required [(ngModel)]="username" #user="ngModel" type="text" id="username" name="username" placeholder="Username..." (click)="resetValidators()">
            </div>
            <div *ngIf="user.touched && !user.valid" class="col-md-4 check">
                Username is required
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4 password">
                <input class="form-control" required #pass="ngModel" [(ngModel)]="password" type="password" id="password" name="password" placeholder="Password...">
            </div>
            <div *ngIf="pass.touched && !pass.valid" class="col-md-4 check">
                Password is required
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4 submit">
                <button class="btn btn-default" [disabled]="!f.form.valid" type="button" id="submit" name="submit" (click)="login()">
                    <i class="glyphicon glyphicon-send"></i> Submit
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4 alert alert-danger" *ngIf="isLoginFailed">
                Invalid username
            </div>
        </div>
        <div class="row">
            <div class="checkbox col-xs-6 col-sm-4 col-sm-offset-2 col-md-2 col-md-offset-4 fix">
                <label>
                    <input type="checkbox" id="remember" name="check" checked/> Non ti scordar di me
                </label>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2 forgot">
                <a name="forgot">Credenziali dimenticate</a>
            </div>
        </div>
    </form>
</div>