.container{
    text-align: center;
    color: #E2E1DF;
    background: linear-gradient(to right, #9292EE , #FF90A2);
    width: 100%;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}
.row{
    margin-bottom: 5px;
}
[class*="logo"] img[name="logo"]{
    margin-top: 350px;
    animation: up;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-delay: 0.5s;
    filter: drop-shadow(1px 1px 3px gray);
}
@keyframes up{
    0% {margin-top: 350px;}
    100% {margin-top: 150px;}
}
form[name="login"]{
    margin-top: -200px;
    opacity: 0;
    animation: down;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-delay: 0.5s;
    display: hidden;
}
@keyframes down{
    0% {margin-top: -200px; opacity: 0; display: hidden;}
    50% {margin-top: 100px; opacity: 0; display: visible;}
    100% {margin-top: 100px; opacity: 1; display: visible;}
}
#submit{
    width: 100%;
}
[class*="checkbox"]{
    text-align: left;
}
[class*="forgot"]{
    text-align: right;
    margin: 10px auto;
}
[class~="check"]{
    text-align: left;
    color: red;
}
a[name="forgot"]{
    color: #0381D5;
    text-decoration: underline;
    font-size: 15px;
    cursor: help;
}
form [class*="ng-invalid ng-touched"]{
    border: 2px solid red;
}