.container{
    color: #E2E1DF;
    background: linear-gradient(to right, #9292EE , #FF90A2);
    margin: 0;
    width: 100%;
    overflow: hidden;
    padding-top: 1.5%;
}

.container > div, nav{
    display: inline-block;
}

nav{
    padding-top: 2.5%;
}

img[name="logo app"]{
    width: 100%;
}

div[name="me"] img{
    width: 100px;
    height: 100px;
    border-color: white;
    border-style: solid;
    border-radius: 50%;
    border-width: 2px;
    margin-bottom: 10px;
}
a[name="logout"]{
    color: #0381D5;
    text-decoration: underline;
    font-size: 12px;
    margin: auto;
}
/*
div[name="me"]{
    text-align: center;
}

img[name="logo movimento"]{
    height: 100px;
    margin-bottom: 10px;
}
div[name="movement"] span{
    font-size: 15px;
    color: #C78A2E;
}
header h1{
    font-size: 72px;
    text-shadow: -1px 5px 13px #000000;
    margin: 0;
}
header [class*="h1"] a{
    text-decoration: none;
}
header nav a{
    font-family: Lato;
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin: auto;
    font-weight: 900;
}*/