<div class="headerContainer">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="/home">
                <img src="assets\img\unimove.png" alt="UniMove">
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li>
                <a [routerLinkActive]="['active']" [routerLink]="['/home']" name="home">Home</a>
            </li>
            <li>
                <a [routerLinkActive]="['active']" [routerLink]="['/faq']" name="faq">FAQ</a>
            </li>
            <li>
                <a [routerLinkActive]="['active']" [routerLink]="['/profile']" name="profilo">Profilo</a>
            </li>
        </ul>
        <div class="nav navbar-nav navbar-right">
            <a routerLink="/profile" name="profilo">
                <img id="photoprofile" src={{loggedUser.fotoProfilo}}>
            </a>
            <br>
            <a name="logout" (click)="usersService.logout()">Logout</a>
        </div>
    </div>
</div>